<h2>Work Item</h2>
<div class='item'>
  <%= f.label :title %>
  <%= f.text_field :title %> 
</div>

<div class='item'>
  <%= f.label :info %>
  <%= f.text_field :info %>
</div>
	
 <div class="item">
  <%= f.label 'photo' %>
  <%= f.file_field :image %>
</div>
	
<div class='item'>
  <%= f.label :about %>
  <%= f.text_area :about %>
</div>