<li class='artist'> 

  <%= image_tag artist.image.url(:thumb) %> 
  <h3> <%= artist.name %> </h3>
  <span> <%= artist.info %> </span>
  <p> <%= artist.about.html_safe %> </p>
  
  <section class='workitems'>
    <ul class='unstyled'>
      <% artist.workitems.each do |workitem| %>
        <%= render 'workitem', :workitem => workitem %>
      <% end %>
    </ul>
  </section>
</li> 