<li class='workitem-image image-<%= count %>' data-id="<%= format_id(workitem.title)%>">
  <%= image_tag workitem.image.url(:accordion) %>
  <a href='<%= workitem.image.url() %>' target='_blank' onClick="_gaq.push(['_trackEvent', 'Workitem Views', 'Larger View', '<%= workitem.title %>']);" >Larger +</a>
</li>