<section id='the_idea' class='region'>
	<div class='container-fluid'>
	  <h2>The Idea</h2>
		<p><%= @mission.body.html_safe %></p>
	  <blockquote><%= @mission.statement %></blockquote>
	</div>
</section>
<hr />
<section id='the_work' class='region'>
  <div class='container-fluid'>
  	<h2>The Work</h2>
  	<p><%= @thework.body %></p>
  </div>
  
  <section id='artists'>
    <ul class='unstyled artists'>
      <% @thework.artists.each do |artist| %>
        <%= render 'artist', :artist => artist %>
      <% end  %>
    </ul>
  </section>
</section>
<hr />
<section id='donate' class='region'>
  <div class='container-fluid'>
  	<h2>Donate</h2>
		
		<div class='center'>
			<p>Please donate!  Lorem ipsum dolor sit amet, cum repudiare pertinacia et, omnis solum honestatis an vis. Mea admodum molestie percipitur in, ex his lucilius sapientem elaboraret. </p>
			<a class='button' href='http://kickstarter.com' target='_blank'>Donate Now</a>
		</div>
		<br />
	</div>
</section>
<hr />
<section id='submit' class='region'>
	<div class='container-fluid'>
		<h2>Submit</h2>
  	<p>Something about submissions!  Lorem ipsum dolor sit amet, cum repudiare pertinacia et, omnis solum honestatis an vis. Mea admodum molestie percipitur in, ex his lucilius sapientem elaboraret.</p> 
	
	<%= render 'form', :submission => @submission %>
	</div>
</section>
 