<section id='the_idea' class='region'>
	<div class='container-fluid'>
	  <h2>The Idea</h2>
		<p><%= @mission.body.html_safe %></p>
	  <blockquote><%= @mission.statement %></blockquote>
	</div>
</section>

<section id='mailer'>
  <div class='container-fluid'>
    <div class='left'>
      Sign up for our email list to receive email updates about upcoming issues, submission deadlines and events! 
    </div>
    
    <div class='right'>
    
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://humboston.us7.list-manage.com/subscribe/post?u=4e2603c5271ff0024c360fb15&amp;id=9193e656de" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        	
          <div class="mc-field-group" id='mc-inputs'>
          <!-- 	<label for="mce-EMAIL">Email Address </label> -->
          	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder='Email Address'>
          	<input type="submit" value=">" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        	<div id="mce-responses">
        		<div class="response" id="mce-error-response" style="display:none"></div>
        		<div class="response" id="mce-success-response" style="display:none"></div>
        	</div>	
        </form>
      </div>
      <!--End mc_embed_signup-->
  
    </div>
  </div>
</section>

<section id='the_work' class='region'>
  <div class='container-fluid'>
  	<h2>The Work</h2>
  	<p><%= @thework.body %></p>
  </div>
  
  <section id='artists'>
    <ul class='unstyled artists'>
    	<% count = 0  %>
      <% @thework.artists.each do |artist| %>
        <%= render 'artist', :artist => artist, :index => count %>
        <% count += 1 %>
      <% end  %>
    </ul>
  </section>
</section>

<section id='donate' class='region'>
  <div class='container-fluid'>
  	
  	<h2>Donate</h2>
  	<div class='text-wrapper'>
			<p>We need to raise money to offset the printing costs of issue (I) and issue (II). The goal is to print at least 300 copies of each issue. Additionally, we need to pay for web hosting and maitenance.  Our Kickstarter goal is 2.5K, any additional funds we collect will go toward off-setting the cost of the launch party.</p>
		</div>

		<a class='button' href='http://www.kickstarter.com/projects/1735213126/1676127264' target='_blank'>Donate Now</a>

		<br />
		<ul class='stats unstyled'>
			<li class='first'>
				<div class='table-wrapper'>
					<div class='table-cell'>
						<span>40%</span>
						<hr />
						Issue 1 <br />Printing Costs
					</div>
				</div>
			</li>
			
			<li class='second'>
				<div class='table-wrapper'>
					<div class='table-cell'>
						<span>35%</span>
						<hr />
						Issue 2 <br />Printing Costs
					</div>
				</div>
			</li>
			
			<li class='third'>
				<div class='table-wrapper'>
					<div class='table-cell'>
						<span>20%</span>
						<hr />
						Web Hosting <br />+ Miscellaneous
					</div>
				</div>
			</li>
		</ul>

		

		<br />
		
		
		
				</div>
</section>

<section id='submit' class='region'>
	<div class='container-fluid'>
		<h2>Submit</h2>
  	<p>Something about submissions!  Lorem ipsum dolor sit amet, cum repudiare pertinacia et, omnis solum honestatis an vis. Mea admodum molestie percipitur in, ex his lucilius sapientem elaboraret.</p> 
	
	<%= render 'form', :submission => @submission %>
	</div>
</section>

<section id='about'>
	<div class='container-fluid'>
		<h2>About Us</h2>
		<p>Anna and Holly were born two days apart in August.  They met as rivals in a run for high school class historian.  Then, some time later, they became friends.  Now, they're amicably cohabitating in an apartment in Jamaica Plain.</p>

		<div class='us'>
			<article class='left' id='anna'>
				<p><span class='up'>Anna Leocha</span> is most amused by the moving image and has found inspiration in 60s/70s avant-garde cinema and the everyday intimacy of home videos.  She likes to write. Proximity to the 
Atlantic Ocean and Walden Pond respectively is the best thing about living in Boston.</p>
			</article>
			
			<article class='right' id='holly'>
				<p><span class='up'>Holly Copeland</span> is a web producer and most interested in the anatomy of digital spaces and the creative design of interactive worlds. She's good with photoshop. Mi Pueblito restaurant in Eastie is the best thing about living in Boston. But shhh, don't tell anyone!</p>
			</artice>
		</div>
	</div>
	<div id='about-image'></div>
</section>
 