<section id='the_idea' class='region'>
	<div class='container-fluid'>
	  <h2>The Idea</h2>
		<p><%= @mission.body.html_safe %></p>
	  <blockquote><%= @mission.statement %></blockquote>
	</div>
</section>
<hr />
<section id='the_work' class='region'>
  <div class='container-fluid'>
  	<h2>The Work</h2>
  	<p><%= @thework.body %></p>
  </div>
  
  <section id='artists'>
    <ul class='unstyled artists'>
    	<% count = 0  %>
      <% @thework.artists.each do |artist| %>
        <%= render 'artist', :artist => artist, :index => count %>
        <% count += 1 %>
      <% end  %>
    </ul>
  </section>
</section>
<hr />
<section id='donate' class='region'>
  <div class='container-fluid'>
  	
  	<h2>Donate</h2>

		<p>Please donate!  Lorem ipsum dolor sit amet, cum repudiare pertinacia et, omnis solum honestatis an vis. Mea admodum molestie percipitur in, ex his lucilius sapientem elaboraret. </p>
		<a class='button' href='http://kickstarter.com' target='_blank'>Donate Now</a>
		<br />
	</div>
</section>
<hr />
<section id='submit' class='region'>
	<div class='container-fluid'>
		<h2>Submit</h2>
  	<p>Something about submissions!  Lorem ipsum dolor sit amet, cum repudiare pertinacia et, omnis solum honestatis an vis. Mea admodum molestie percipitur in, ex his lucilius sapientem elaboraret.</p> 
	
	<%= render 'form', :submission => @submission %>
	</div>
</section>
<hr />
<section id='about'>
	<div class='container-fluid'>
		<h2>About Us</h2>
		<p>Anna and Holly were born two days apart in August.  They met as rivals in a run for high school class historian.  Then, some time later, they became friends.  Now, they're amicably cohabitating in an apartment in Jamaica Plain.</p>

		<div class='us'>
			<article class='left' id='anna'>
				<p><span class='up'>Anna Leocha</span> is most amused by the moving image and has found inspiration in 60s/70s avant-garde cinema and the everyday intimacy of home videos.  She likes to write. Proximity to the 
Atlantic Ocean and Walden Pond respectively is the best thing about living in Boston.</p>
			</article>
			
			<article class='right' id='holly'>
				<p><span class='up'>Holly Copeland</span> is a web producer and most interested in the anatomy of digital spaces and the creative design of interactive worlds. She's good with photoshop. Mi Pueblito restaurant in Eastie is the best thing about living in Boston. But shhh, don't tell anyone!</p>
			</artice>
		</div>
	</div>
	<div id='about-image'></div>
</section>
 