<div class='item'> <strong>Title: </strong><%= workitem.title %> </div>
<div class='item'> <strong>Year: </strong><%= workitem.year %> </div>
<div class='item'> <strong>Medium: </strong><%= workitem.medium %> </div>
<div class='item'> <strong>Comments: </strong><%= workitem.comments %> </div>
<div class='item'> <strong>Link: </strong><%= workitem.link %> </div>