<!DOCTYPE html>
<html>
<head>
  <title>Hum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
<!--   <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"> -->
  <link href='http://fonts.googleapis.com/css?family=Arvo|Lato:400,300,100|Josefin+Slab:400,100|BenchNine' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script src='http://downloads.mailchimp.com/js/jquery.form-n-validate.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id='strip'>
<!--     <div id='strip' style="background-image:url(<%= get_header_image %>)" > -->
<!-- 	   <%= video_tag ["/videos/hum-fur.mp4", "/videos/hum-fur.webm"], :autoplay => true, :loop => true %> -->
  </div>


    <header>
      <div id='header'>
        <div class='container-fluid'> 
          <h1 id='site-name'><a href='/'>HUM</a></h1>
        
        
          <nav>
            <a href='#the_idea' class='slideto'>The Idea</a>
            <a href='#the_work' class='slideto'>The Work</a>
            <a href='#donate' class='slideto'>Donate</a>
            <a href='#submit' class='slideto'>Submit</a>
          </nav>
        </div>
      </div>
    </header>
    	<div class='notifications'>
    		<div class='container-fluid'> 
	    		<% flash.each do |key, value| %>
	    			<div class='flash alert <%= key %>'>
	    				<%= value.html_safe %>
	    			</div>
	    		<% end %>
	    	</div>
    	</div>
      
      <%= yield %>
    </div>
		
		<footer>
			<div class='container-fluid'>
				<span class='left'>&copy; 2013 hum journal, all rights reserved.</span>
				<span class='right'><a href='mailto:hum.boston@gmail.com'>contact</a> / <a href='http://www.facebook.com/HumJournal' target='_blank'>facebook</a> / <a href='http://instagram.com/hum_journal#'>instagram</a></span>
			</div>
		</footer>
		
		<script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-42191913-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</body>
</html>
