<!DOCTYPE html>
<html>
<head>
  <title>Hum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Arvo|Lato:400,100|Josefin+Slab:400,100|BenchNine' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <div id='strip'></div>
      <div class='container-fluid'> 
        <h1 id='site-name'><a href='/'>HUM</a></h1>
      
        <nav>
          <a href='#the_idea'>The Idea</a>
          <a href='#the_work'>The Work</a>
          <a href='#donate'>Donate</a>
          <a href='#submit'>Submit</a>
        </nav>
      </div>
    </header>
    

    	<div class='notifications'>
    		<div class='container-fluid'> 
	    		<% flash.each do |key, value| %>
	    			<div class='flash alert <%= key %>'>
	    				<%= value.html_safe %>
	    			</div>
	    		<% end %>
	    	</div>
    	</div>
      
      <%= yield %>
    </div>
		
		<footer>
			<div class='container-fluid'>
				<span class='left'>&copy; 2013 journal, all rights reserved.</span>
				<span class='right'><a href='facebook.com'>facebook</a> / <a href='instagram.com'>instagram</a></span>
			</div>
		</footer>

</body>
</html>
