<!DOCTYPE html>
<html>
<head>
  <title>Hum</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", :media => "all" %>
<!--   <link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css"> -->
  <link href='http://fonts.googleapis.com/css?family=Arvo|Lato:400,100|Josefin+Slab:400,100|BenchNine' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <script src='http://downloads.mailchimp.com/js/jquery.form-n-validate.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id='strip'></div>
    <header>
      <div id='header'>
        <div class='container-fluid'> 
          <h1 id='site-name'><a href='/'>HUM</a></h1>
        
          <nav>
            <a href='#the_idea' class='slideto'>The Idea</a>
            <a href='#the_work' class='slideto'>The Work</a>
            <a href='#donate' class='slideto'>Donate</a>
            <a href='#submit' class='slideto'>Submit</a>
          </nav>
        </div>
      </div>
    </header>
    

    	<div class='notifications'>
    		<div class='container-fluid'> 
	    		<% flash.each do |key, value| %>
	    			<div class='flash alert <%= key %>'>
	    				<%= value.html_safe %>
	    			</div>
	    		<% end %>
	    	</div>
    	</div>
      
      <%= yield %>
    </div>
		
		<footer>
			<div class='container-fluid'>
				<span class='left'>&copy; 2013 hum journal, all rights reserved.</span>
				<span class='right'><a href='mailto:hum.boston@gmail.com'>contact</a> / <a href='http://www.facebook.com/HumJournal' target='_blank'>facebook</a> / <a href='http://instagram.com/hum_journal#'>instagram</a></span>
			</div>
		</footer>

</body>
</html>
